@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}



/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #f3efef;
  color: #000;
  /* opacity: 0.85; */
  height: 50px;
  z-index: 12;
  margin-top: -20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}
  
/* home section styling  desktop mode*/

  .homeDiv {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px 10px 10px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    background-color: rgb(10, 157, 202);
    border-radius: 20px;
  }
  .homeDiv > div{
    width:max-content;
    height:max-content;
  }
  #nameDiv{
    
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    font-size: x-large;
    line-height: 2em;
  }
  #nameDiv>a>button{
    margin-top: 30px;
    padding: 5px 20px 5px 20px;
    background-color: rgb(250, 248, 248);
    border-radius: 10px;
    color: rgb(6, 140, 180);
    border:none;
    width:max-content;
    font-weight: bolder;
    font-size: large;
  }

  #photoDiv {
    width: 300px;
    height: 300px;
    position: relative; 
    overflow: hidden;
  }
  
  .home-img {
    width: 96%;
    height: 96%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid black;
   
  }
  
/* about section styling desktop mode */
  #about{
    /* border: 1px solid red; */
    padding:  50px 20px 20px 20px;
    margin: 20px auto;
    font-size:larger;
  }
  #about>h1{
    text-align: center;
  }
  #about>p{
    text-align:left;
    margin-top:20px;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 20px
  }

  /* project section styling desktop mode */
  #projects{
    background-color: rgb(10, 157, 202);
    padding:50px 20px 50px 20px;
    margin:20px 10px 20px 10px;
    /* font-size:larger; */
    border-radius: 20px;
  }

  #projects>h1:first-child{
    text-align:center;
  }
  #projectDiv{
    width:90%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 20px;
    margin: auto;
  }
  #projectDiv>div{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    background-color: white;
    margin: 35px auto;
    padding: 10px;
    padding-bottom: 20px;
  }
  #projectDiv>div>p{
    text-align: left;
  }
  #projectDiv>div>div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #projectDiv>div>div>button{
    margin-top: 30px;
    padding: 5px 20px 5px 20px;
    background-color: rgb(250, 248, 248);
    border-radius: 10px;
    color: rgb(6, 140, 180);
    width:max-content;
    font-weight: bolder;
    font-size: large;
    border: 1px solid rgb(6, 140, 180);
  }
  #projectDiv>div>div>button>a{
    text-decoration: none;
    color: rgb(6, 140, 180);
  }

  /* style for slideshow */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slide {
  display: none;
}

img {
  margin-top: 8px;
  width:95%;
  border-radius: 15px;
  border: 5px solid rgb(10, 157, 202);
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


  /* github section styling */
  .img1Style{
    width: 80%;
    display: block;
    margin: auto;
    border: none;
  }
  .stats>img{
    align-items:center;
    border:none;
    width:41%;
  
  }
  .Github{
    text-align: center;  
      margin-top: 40px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }

  /* skill section styling desktop mode */
  #skills{
    background-color: rgb(10, 157, 202);
    padding:50px 20px 50px 20px;
    margin:20px 10px 20px 10px;
    font-size:larger;
    border-radius: 20px;
  }

  #skills>h1{
    text-align:center;
  }
  #skillDiv{
    width:100%;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    gap: 10px;
  }
  #skillDiv>div{
    width:98%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    background-color: white;
    /* margin-bottom: -5px; */
    padding-bottom: 10x;
  }
  #skillDiv>div>img{
    margin-top: 10px;
    width:50%;
    height:50%;
    border-radius: 15px 15px 0 0 ;
    border: none;
  }

  /* react activity calendar styling desktop mode */
  #react-activity-calendar{
    border: 1px solid rgb(10, 157, 202);
    padding: 50px, 20px, 20px, 20px;
    margin: 20px 10px 10px 10px;
    font-size:larger;
    border-radius: 10px;
    text-align: center;
  }
  #react-activity-calendar>div{
    padding:100px;
    border: 1px solid rgb(10, 157, 202);
  }
  #react-activity-calendar>p{
    text-align:left;
    margin-top:20px;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 20px
  }

/* contact section styling desktop mode */
  #contact{
    /* border: 1px solid red; */
    padding: 50px 20px 20px 20px;
    margin: 20px auto;
    font-size:larger;
  }
  #contact>h1{
    text-align: center;
  }

  #contact>div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap:20px;
    margin: 10px auto;
    padding-bottom: 5px;
    font-size: larger;
  }
  #contact>div>div:first-child{
    display:flex;
    flex-direction: column;
    gap:10px;
    /* margin-top: 22px; */
  }

  #contact>div>div:first-child>a>button{
    /* margin-top: 30px; */
    padding: 5px 20px 5px 20px;
    background-color: rgb(250, 248, 248);
    border-radius: 10px;
    color: rgb(6, 140, 180);
    width:max-content;
    font-weight: bolder;
    font-size: large;
    border: 1px solid rgb(6, 140, 180);
  }
   #contact>div>div:first-child>a:last-child>button{
      padding: 5px 15px 5px 11.5px;
   }

    #contact>div>hr{
      margin-left: -5px;
      margin-right:-5px;
      color: rgb(6, 140, 180);
    }
  
  #contact>div>div:last-child{
    text-align:left;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 20px
  }

.createdLine{
  position: relative;
  bottom:5px;
  text-align: center;  
}


/* Responsive design */
@media screen and (max-width: 350px) {
  /* github section styling */
  
  .img1Style{
    width: 90%;
  }
  .stats>img{
    width:90%;
  }
  .home-about-description{
    font-size:larger;
  }
  #user-detail-name{
    margin-left: -27px;
  }
}

@media screen and (max-width: 592px) {
  /* github section styling */
  .img1Style{
    width: 85%;
    margin-bottom: 12px;
  }
  .stats>img{
    width:80%;
  }
  .home-about-description{
    font-size: x-larger;
    margin-bottom: 10px;
  }
  #contact>div{
    /* border: 1px solid red; */
    font-size:small;
  }
  #nameDiv{
    font-size: large;
  }
  #user-detail-name{
    margin-left: -30px;
  }
}

@media screen and (max-width: 768px) {
  /* Mobile devices */
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
  body {
    font-size: 16px;
  }

  #home {
    flex-direction: column;
    text-align: center;
  }

  #nameDiv {
    text-align: center;
  }

  #photoDiv {
    width: 200px;
    height: 200px;
  }

  #projectDiv {
    grid-template-columns: repeat(1, 1fr);
  }

  #skillDiv{
    grid-template-columns: repeat(2, 1fr);
  }
  #contact{
    font-size: small;
  }
  #user-detail-name{
    margin-left: -30px;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Tablet devices */

  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
  body {
    font-size: 18px;
  }

  #home {
    flex-direction: column;
    text-align: center;
  }

  #nameDiv {
    text-align: center;
  }

  #photoDiv {
    width: 300px;
    height: 300px;
  }

  #projectDiv {
    grid-template-columns: repeat(1, 1fr);
  }

  #skillDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  #contact{
    font-size: medium;
  }

  #user-detail-name{
    margin-left: -30px;
  }
}